<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>wk_template_id</key>
		<string>1</string>
		<key>wName</key>
		<string>应标</string>
		<key>wk_cur_node</key>
		<array>
			<dict>
				<key>wk_cur_node_id</key>
				<string>-1</string>
				<key>nName</key>
				<string></string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>1</string>
				<key>nName</key>
				<string>量房</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>2</string>
				<key>nName</key>
				<string>接受量房费</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>3</string>
				<key>nName</key>
				<string>等待确认合同</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>4</string>
				<key>nName</key>
				<string>等待支付设计首款</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>5</string>
				<key>nName</key>
				<string>等待支付设计尾款</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>6</string>
				<key>nName</key>
				<string>上传交付物</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_template_id</key>
		<string>2</string>
		<key>wName</key>
		<string>自选</string>
		<key>wk_cur_node</key>
		<array>
			<dict>
				<key>wk_cur_node_id</key>
				<string>-1</string>
				<key>nName</key>
				<string></string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>1</string>
				<key>nName</key>
				<string>量房</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>2</string>
				<key>nName</key>
				<string>接受量房费</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>3</string>
				<key>nName</key>
				<string>等待确认合同</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>4</string>
				<key>nName</key>
				<string>等待支付设计首款</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>5</string>
				<key>nName</key>
				<string>等待支付设计尾款</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>6</string>
				<key>nName</key>
				<string>上传交付物</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_template_id</key>
		<string>3</string>
		<key>wName</key>
		<string>北舒</string>
		<key>wk_cur_node</key>
		<array>
			<dict>
				<key>wk_cur_node_id</key>
				<string>-1</string>
				<key>nName</key>
				<string></string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>1</string>
				<key>nName</key>
				<string>量房</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>2</string>
				<key>nName</key>
				<string>接受量房费</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>3</string>
				<key>nName</key>
				<string>等待确认合同</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>4</string>
				<key>nName</key>
				<string>等待支付设计首款</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>5</string>
				<key>nName</key>
				<string>等待支付设计尾款</string>
			</dict>
			<dict>
				<key>wk_cur_node_id</key>
				<string>6</string>
				<key>nName</key>
				<string>上传交付物</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
