<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sub_node_id</key>
		<string>-1</string>
		<key>iconName</key>
		<string>im_measure</string>
		<key>iconTitle</key>
		<string>应标量房</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>0</string>
		<key>iconName</key>
		<string>im_measure</string>
		<key>iconTitle</key>
		<string>自选量房</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>11</string>
		<key>iconName</key>
		<string>im_measure</string>
		<key>iconTitle</key>
		<string>邀请量房</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>12</string>
		<key>iconName</key>
		<string>im_measure</string>
		<key>iconTitle</key>
		<string>量房表单</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>13</string>
		<key>iconName</key>
		<string>im_pay</string>
		<key>iconTitle</key>
		<string>支付量房费</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>14</string>
		<key>iconName</key>
		<string>im_measure</string>
		<key>iconTitle</key>
		<string>量房表单</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>21</string>
		<key>iconName</key>
		<string>im_contract</string>
		<key>iconTitle</key>
		<string>合同</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>22</string>
		<key>iconName</key>
		<string>im_contract</string>
		<key>iconTitle</key>
		<string>合同</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>31</string>
		<key>iconName</key>
		<string>im_contract</string>
		<key>iconTitle</key>
		<string>合同</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>33</string>
		<key>iconName</key>
		<string>im_delivery</string>
		<key>iconTitle</key>
		<string>量房交付</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>41</string>
		<key>iconName</key>
		<string>im_pay</string>
		<key>iconTitle</key>
		<string>支付尾款</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>42</string>
		<key>iconName</key>
		<string>im_pay</string>
		<key>iconTitle</key>
		<string>支付尾款</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>51</string>
		<key>iconName</key>
		<string>im_delivery</string>
		<key>iconTitle</key>
		<string>设计交付</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>52</string>
		<key>iconName</key>
		<string>im_delivery</string>
		<key>iconTitle</key>
		<string>设计交付</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>61</string>
		<key>iconName</key>
		<string>im_delivery</string>
		<key>iconTitle</key>
		<string>设计交付</string>
	</dict>
	<dict>
		<key>sub_node_id</key>
		<string>62</string>
		<key>iconName</key>
		<string>im_delivery</string>
		<key>iconTitle</key>
		<string>设计交付</string>
	</dict>
</array>
</plist>
