<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>11</string>
		<key>wk_cur_sub_name</key>
		<string>确认量房</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>消费者已发送量房邀请，请确认是否量房！</string>
				<key>selectShow</key>
				<true/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>12</string>
		<key>wk_cur_sub_name</key>
		<string>消费者已拒绝应标</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>消费者已拒绝您的应标！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>13</string>
		<key>wk_cur_sub_name</key>
		<string>接收量房费</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已同意量房，请等待消费者支付量房费用...</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string>请等待消费者支付量房费用...</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>14</string>
		<key>wk_cur_sub_name</key>
		<string>确认量房</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已拒绝量房邀请！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>21</string>
		<key>wk_cur_sub_name</key>
		<string>创建设计合同</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已同意量房！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string>消费者已支付量房费用，请您上传量房交付物或发送设计合同！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string>请您上传量房交付物或发送设计合同！</string>
				<key>selectShow</key>
				<true/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>22</string>
		<key>wk_cur_sub_name</key>
		<string>创建设计合同</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已同意量房！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string>消费者已支付量房费用，请您上传量房交付物或发送设计合同！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string>请您上传量房交付物或发送设计合同！</string>
				<key>selectShow</key>
				<true/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>31</string>
		<key>wk_cur_sub_name</key>
		<string>接收设计首款</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已同意量房！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string>消费者已支付量房费用！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string>您已发送设计合同，请等待消费者支付设计首款...</string>
				<key>selectShow</key>
				<true/>
			</dict>
			<dict>
				<key>message</key>
				<string>请等待消费者支付设计首款！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>33</string>
		<key>wk_cur_sub_name</key>
		<string>上传量房交付物</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已同意量房！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string>消费者已支付量房费用！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string>您已上传量房交付物！</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>41</string>
		<key>wk_cur_sub_name</key>
		<string>接收设计尾款</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已邀请量房，请等待设计师确认...</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>42</string>
		<key>wk_cur_sub_name</key>
		<string>接收设计尾款</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已邀请量房，请等待设计师确认...</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>51</string>
		<key>wk_cur_sub_name</key>
		<string>上传设计交付物</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已邀请量房，请等待设计师确认...</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>52</string>
		<key>wk_cur_sub_name</key>
		<string>上传设计交付物</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已邀请量房，请等待设计师确认...</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>61</string>
		<key>wk_cur_sub_name</key>
		<string>上传设计交付物</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已邀请量房，请等待设计师确认...</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>wk_cur_sub_node_id</key>
		<string>62</string>
		<key>wk_cur_sub_name</key>
		<string>上传设计交付物</string>
		<key>detail</key>
		<array>
			<dict>
				<key>message</key>
				<string>您已邀请量房，请等待设计师确认...</string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
			<dict>
				<key>message</key>
				<string></string>
				<key>selectShow</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
