{
	house = "\U4f4f\U5b85\U7a7a\U95f4";
	catering = "\U9910\U996e\U7a7a\U95f4";
	office = "\U529e\U516c\U7a7a\U95f4";
	hotel = "\U9152\U5e97\U7a7a\U95f4";
	business = "\U5546\U4e1a\U5c55\U793a";
	entertainment = "\U5a31\U4e50\U7a7a\U95f4";
	leisure = "\U4f11\U95f2\U573a\U6240";
	culture = "\U6587\U5316\U7a7a\U95f4";
	healthcare = "\U533b\U7597\U673a\U6784";
	sale = "\U552e\U697c\U4e2d\U5fc3";
	finace = "\U91d1\U878d\U573a\U6240";
	sport = "\U8fd0\U52a8\U573a\U6240";
	education = "\U6559\U80b2\U673a\U6784";
	other = "\U5176\U4ed6";
	one = "\U4e00\U5ba4";
	two = "\U4e24\U5ba4";
	three = "\U4e09\U5ba4";
	four = "\U56db\U5ba4";
	five = "\U4e94\U5ba4";
	loft = LOFT;
	multiple = "\U590d\U5f0f";
	villa = "\U522b\U5885";
	"one_area" = "60\U33a1\U4ee5\U4e0b";
	"two_area" = "60-80\U33a1";
	"three_area" = "80-120\U33a1";
	"five_area" = "120\U33a1\U4ee5\U4e0a";
	"one_living" = "\U4e00\U5385";
	"two_living" = "\U4e24\U5385";
	"three_living" = "\U4e09\U5385";
	"four_living" = "\U56db\U5385";
	"five_living" = "\U4e94\U5385";
	"one_toilet" = "\U4e00\U536b";
	"two_toilet" = "\U4e24\U536b";
	"three_toilet" = "\U4e09\U536b";
	"four_toilet" = "\U56db\U536b";
	"five_toilet" = "\U4e94\U536b";
	japan = "\U65e5\U5f0f";
	japanese = "\U65e5\U5f0f";
	korea = "\U97e9\U5f0f";
	kora = "\U97e9\U5f0f";
	mashup = "\U6df7\U642d";
	european = "\U6b27\U5f0f";
	chinese = "\U4e2d\U5f0f";
	neoclassical = "\U65b0\U53e4\U5178";
	newclassical = "\U65b0\U53e4\U5178";
	asan = "\U4e1c\U5357\U4e9a";
	us = "\U7f8e\U5f0f";
	mediterranean = "\U5730\U4e2d\U6d77";
	america = "\U7f8e\U5f0f";
	country = "\U7530\U56ed";
	eastsourthasia = "\U4e1c\U5357\U4e9a";
	countryside = "\U7530\U56ed";
	modern = "\U73b0\U4ee3";
}