<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>输入验证码</string>
	<string>请再次输入密码</string>
	<string>请输入密码</string>
	<string>手机号／邮箱</string>
	<string>我要装修</string>
	<string>设计师</string>
	<string>确定</string>
	<string>发送验证码</string>
	<string>请输入验证码</string>
	<string>请输入新密码</string>
	<string>请输入手机号</string>
	<string>返回</string>
	<string>忘记密码</string>
	<string>注册</string>
	<string>登录</string>
	<string>基本消息</string>
	<string>我的消息</string>
	<string>我的收藏</string>
	<string>装修列表</string>
	<string>查看发布装修需求</string>
	<string>证件号码</string>
	<string>证件类型</string>
	<string>真实姓名</string>
	<string>个性签名</string>
	<string>性别</string>
	<string>邮箱</string>
	<string>手机</string>
	<string>所在地</string>
	<string>头像</string>
	<string>昵称</string>
	<string>修改密码</string>
	<string>重新获取</string>
	<string>登录失败</string>
	<string>用户名或密码错误</string>
	<string>取消</string>
	<string>注册登录</string>
	<string>个人中心</string>
	<string>选择照片</string>
	<string>从相册选择</string>
	<string>我的收藏</string>
	<string>收藏案例库</string>
	<string>关注设计师</string>
	<string>2015年12月28日 14:12</string>
	<string>更多</string>
	<string>系统消息！你的账户收入：1200万请查看自己的账户系统消息！你的账户收入：1200万请查看自己的账户系统消息！你的账户收入：1200万请查看自己的账户</string>
	<string>系统消息！你的账户收入：1200万请查看自己的账户</string>
	<string>系统消息！你的账户收入：1200万请查看自己的账户系统消息！你的账户收入：1200万请查看自己的账户系统消息！你的账户收入：1200万请查看自己的账户1200万请查看自己的账户</string>
	<string>退出登录</string>
	<string>安全中心</string>
	<string>意见反馈</string>
	<string>关于设计家</string>
	<string>版本更新</string>
	<string>安全中心</string>
	<string>更换密码</string>
	<string>意见反馈</string>
	<string> 确定</string>
	<string>        设计家（www.shejijia.com），是北京居然之家投资控股集团有限公司（以下简称“居然之家”）投资创立的，采用线上线下融为一体的 “全渠道”商业模式，构建互利共赢的全价值链大家居服务平台。设计家平台针对全社会所有设计师和装修业主免费开放，为他们提供设计、施工、材料选购服务的互动平台。\\n        设计家平台依托居然之家的品牌影响力和资源优势，构建以用户为中心，商品和设计资源为重要基础，集设计、装修、材料采购、物流配送为一体的大家居服务平台。其中设计服务平台从技术上实现了效果图、施工图和预算报价的合一，业主不但可以通过设计家APP随时随地找到自己心仪的设计师，而且还可以自己动手DIY。材料采购平台以居然之家线下实体店为依托，通过与设计师建立合理公平的利益分享机制，让装修变得透明。此外，居然之家将承担起施工“大包”服务的责任并提供统一材料配送服务，从而提升行业运营效率，改善消费者服务体验，让整个家装过程变得可视化、透明化、信息化、自动化。\\n        居然之家将通过设计家平台在全国范围内为广大装修业主提供设计、施工、材料采购、物流配送等一站式综合服务，最终引领用户的家居消费潮流，创造新的用户消费行为模式与服务模式，让您的装修变得更简单、更透明、更快乐。</string>
	<string>设计家</string>
	<string>天畅园5号 三室两厅 180m</string>
	<string>住宅控件</string>
	<string>风格</string>
	<string>项目状态</string>
	<string>查看应标</string>
	<string>详情</string>
	<string>设计师</string>
	<string>名称:</string>
	<string>标的状态:</string>
	<string>应标人数:</string>
	<string>项目地址:</string>
	<string>项目预算:</string>
	<string>需求管理</string>
	<string>我的装修</string>
	<string>查看装修需求</string>
	<string>发布需求</string>
	<string></string>
	<string>查看详情</string>
	<string>拒绝</string>
	<string>已拒绝</string>
	<string>客户资料</string>
	<string>姓名:</string>
	<string>联系电话:</string>
	<string>房屋地址:</string>
	<string>装修类型:</string>
	<string>建筑面积:</string>
	<string>物业类型:</string>
	<string>房型:</string>
	<string>交房日期:</string>
	<string>喜欢风格:</string>
	<string>家庭常住人口:</string>
	<string>总预算:</string>
	<string>主材:</string>
	<string>装饰:</string>
	<string>家具整体色调:</string>
	<string>计划装修日期</string>
	<string>完成</string>
	<string>量房费</string>
	<string>设计费首款</string>
	<string>设计费尾款</string>
	<string>设计订单 总额</string>
	<string>我叫设计师</string>
	<string>未审核</string>
	<string>上传</string>
	<string>下一步</string>
	<string>我家小院</string>
	<string>应标中</string>
	<string>5</string>
	<string>北京市朝阳区</string>
	<string>5000¥</string>
	<string>3位设计师</string>
	<string>已选两位</string>
	<string>北苑四十度 两厅一室 120m2</string>
	<string>房屋类型：住宅空间</string>
	<string>风格：欧美</string>
	<string>项目状态：进行中--支付设计首款</string>
	<string>3位设计师</string>
	<string>已选择两位</string>
	<string>I,am black</string>
	<string>作品：109</string>
	<string>200/m</string>
	<string>擅长：</string>
	<string>欧美</string>
	<string>拒绝</string>
	<string>沟通</string>
	<string>房屋类型：</string>
	<string>风格：</string>
	<string>项目状态：进行中...</string>
	<string>室</string>
	<string>厅</string>
	<string>卫</string>
	<string>m²</string>
	<string>位设计师应标</string>
	<string>审核通过</string>
	<string>已认证</string>
	<string>审核中......</string>
	<string>未认证</string>
	<string>审核中</string>
	<string>未通过</string>
	<string>用户名</string>
	<string>住宅电话</string>
</array>
</plist>
